Implement RFC7159 section-4

Currently `minimal-json` allows duplicated names, which is contrary to [section 4 of RFC7159](http://tools.ietf.org/html/rfc7159#section-4), which says: _The names within an object SHOULD be unique._

Other parsers throw an exception.  [JSON in Java](http://www.json.org/java/) for example throws 

```
org.json.JSONException: Duplicate key "status" at 
.... 
```


I am also worried about the validation process. Imagine how much additional memory an object with thousands of fields would require and how many CPU cycles it would take to hash every single name, not to mention the time for hash collision resolution. So your mantra - however beautiful¹ - should be left aside for now.

¹ I second it.

Additionally, programmatically ensuring this is not necessary as JSON is not the problem. If someone wrote the files, they could be unit tested and if they were generated by a system, this system should be fixed.

*I am not against an option*, just think this would make terrible defaults to a project that tries "not to get in the way".